// colors
$primary-color: #deab88;
$main-white: #fff;
$off-white: #f7f7f7;
$main-black: #222;
$main-grey: #ececec;
$dark-grey: #cfcfcf;

// Shadow
$dark-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
$light-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);

// Fonts-family
$body-font: "Lato", sans-serif;

// Transition
$main-transition: all 0.3s linear;

//Spacing
$main-spacing: 4px;
